/* 
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128px

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98px


--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

*/

/* ------------------ */
/* General Reset */
/* ------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #e67e22;
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    font-weight: 600;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.margin-btm-md {
    margin-bottom: 3.2rem;
}

.center-text {
    text-align: center;
}

.center-grid {
    align-items: center;
}

.grid {
    display: grid;
    gap: 6.4rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

/* ------------------ */
/* HEADINGS */
/* ------------------- */

.heading-primary {
    font-size: 5.2rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 2.4rem;
    line-height: 1.1;
    letter-spacing: -1px;
}

.heading-secondary {
    font-size: 4.4rem;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    color: #333;
    margin-bottom: 3.2rem;
}

/* ------------------ */
/* HEADER */
/* ------------------- */

.header {
    background-color: #fdf2e9;
    padding: 3.2rem 4.8rem;
}

.logo {
    height: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 6.4rem;
    list-style: none;
    font-size: 2rem;
    align-items: center;
}

.nav__list-item {
    display: inline-block;
}

.nav__list-item a:link,
.nav__list-item a:visited {
    color: #333;

    transition: all 0.3s;
}

.nav__list-item a:hover,
.nav__list-item a:active {
    color: #eb984e;
}

.btn--cta a:link,
.btn--cta a:visited {
    background-color: #e67e22;
    color: #fff;
    padding: 1rem 2.4rem;
    border-radius: 8px;

    transition: all 0.3s;
}
.btn--cta a:hover,
.btn--cta a:active {
    background-color: #cf711f;
}

/* ------------------ */
/* HERO SECTION */
/* ------------------- */

.section-hero {
    padding: 4.8rem 0 9.6rem 0;
    background-color: #fdf2e9;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    justify-content: center;
    align-items: center;
}

.hero-desc {
    font-size: 2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 3.2rem;
}

.btns {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 8rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: inherit;
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;

    transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn--full:hover,
.btn--full:active {
    background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;

    transition: all 0.5s;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fae5d3;
    box-shadow: inset 0 0 0 3px #fff;
}

.delivered {
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 2px solid #fff;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #666;
}

.delivered-text span {
    background: linear-gradient(45deg, #e67e22, #cf711f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.hero-img {
    width: 90%;
}

/* ------------------ */
/* FEATURED IN SECTION */
/* ------------------- */

.featured-in {
    padding: 3.2rem 4.8rem;
}

.heading-featured-in {
    font-size: 1.4rem;
    color: #777;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.2rem;
}

.companies-feautured {
    display: flex;
    justify-content: space-evenly;
    gap: 1.6rem;
}

.featured-logo {
    height: 3.2rem;
    width: auto;
    filter: brightness(0);
    opacity: 50%;
}

/* ------------------ */
/* HOW IT WORKS */
/* ------------------- */

.section-how-it-works {
    padding: 8rem 0;
}

.subheading {
    display: inline-block;
    text-transform: uppercase;
    color: #e67e22;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.step-num {
    display: inline-block;
    color: #ddd;
    font-size: 7.4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    color: #666;
    line-height: 1.75;
}

.img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img {
    width: 35%;
}

.img-col::before,
.img-col::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.img-col::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
}

.img-col::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
}

/* ------------------ */
/* MEALS */
/* ------------------- */

.section-meals {
    padding: 8rem 0;
}

.meal-card {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: 8px;
    border: none;

    transition: all 0.3s;
}

.meal-card:hover {
    transform: translateY(-2.4rem);
}

.card-img {
    width: 100%;
}

.meal-card-content {
    padding: 3.2rem 4.8rem 4.8rem;
}

.tags {
    display: flex;
    gap: 0.8rem;
}

.tag {
    display: inline-block;
    font-size: 1.4rem;
    background-color: #51cf66;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 0.4rem;
    margin-bottom: 1.2rem;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-heading {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.meal-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.meal-list-item {
    display: flex;
    gap: 1.6rem;
    font-size: 2rem;
    color: #555;
}

.meal-icon {
    color: #e67e22;
    font-size: 2.4rem;
}

.diet-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.diet-list-item {
    display: flex;
    gap: 0.8rem;
    font-size: 1.8rem;
}

.diet-list-icon {
    font-size: 2.4rem;
    color: #e67e22;
}

.btn--all-recipes:link,
.btn--all-recipes:visited {
    display: inline-block;
    color: #e67e22;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 4.8rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid currentColor;

    transition: all 0.3s;
}

.btn--all-recipes:hover,
.btn--all-recipes:active {
    border-bottom: 1px solid transparent;
}

/* ------------------ */
/* TESTIMONIALS */
/* ------------------- */

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial-col {
    padding: 9.6rem;
}

.testimonial {
    color: #555;
}

.testimonial-img {
    height: 6.2rem;
    width: auto;
    border-radius: 50%;
    margin-bottom: 1.6rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-img-box {
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    transition: all 0.3s;
}

.gallery-img:hover {
    transform: scale(1.15);
}

/* ------------------ */
/* Pricing */
/* ------------------- */

.section-pricing {
    padding: 9.6rem 3rem;
}

.pricing-plan {
    width: 75%;
    padding: 4.6rem;
    border-radius: 1rem;
}

.pricing-plan--starter {
    border: 1px solid #fae5d3;
    justify-self: end;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    justify-self: start;
}

.plan-header {
    margin-bottom: 4.8rem;
}

.pricing-plan-type {
    display: inline-block;
    font-size: 1.8rem;
    color: #cf711f;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.pricing-plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.pricing-plan-price span {
    font-size: 3rem;
    margin-right: 0.3rem;
}

.pricing-plan-price-desc {
    font-size: 1.6rem;
    color: #777;
}

.pricing-plan-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: #555;
    margin-bottom: 3.2rem;
}

.pricing-plan-list-item {
    display: flex;
    gap: 0.4rem;
    font-size: 1.8rem;
    line-height: 1.2;
    align-items: center;
}

.pricing-list-item-icon {
    font-size: 3.6rem;
    color: #eb984e;
}

.addit-text {
    font-size: 1.8rem;
    text-align: center;
    margin: 6.4rem 0;
    color: #555;
}

.feature-icon {
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fae5d3;
    border-radius: 50%;
    padding: 1.6rem;
    margin-bottom: 1.6rem;
}

.feature-heading {
    color: #333;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    color: #555;
    font-size: 1.8rem;
    line-height: 1.7;
}

/* ------------------ */
/* SECTION CTA */
/* ------------------- */

.section-cta {
    padding: 9.6rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 1.1rem;
    overflow: hidden;
}

.form-box {
    background-image: linear-gradient(to right top, #c46a1c, #e67e22);
    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem;
}

.img-box {
    background-image: linear-gradient(rgba(207, 113, 31, 0.25), rgba(230, 125, 34, 0.25)), url(../img/eating.jpg);
    background-position: center;
    background-size: cover;
}

.cta-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.form-box .heading-secondary {
    color: inherit;
    margin-bottom: 3.2rem;
}

.form-desc {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 4.8rem;
}

.input-label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
}

.form-input,
.form-dropdown {
    border: none;
    padding: 1.2rem;
    border-radius: 1rem;
    width: 100%;
    font-family: inherit;
    font-size: 1.8rem;
}

.btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1.2rem;
    border-radius: 1rem;
    align-self: end;
    font-size: 1.8rem;

    transition: all 0.3s;
}

.btn--form:hover {
    background-color: #fdf2e9;
    color: #45260a;
}

.form-box *:focus {
    outline: 1px solid #777;
}

/* ------------------ */
/* FOOTER */
/* ------------------- */

.footer {
    padding: 12.8rem 6.4rem;
    border-top: 1px dotted #76767688;
}

.footer--grid {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
    gap: 4.8rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    height: 2.4rem;
    width: auto;
    margin-bottom: 3.2rem;
}

.social-links {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.2rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #767676;
    transition: all 0.3s;
}

.social-icon:hover {
    color: #555;
}

.copyright {
    display: inline-block;
    font-size: 1.6rem;
    color: #767676;
    margin-top: auto;
    line-height: 1.6;
}

.footer-heading {
    color: #666;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.address {
    color: #767676;
}

.address-p {
    font-size: 1.6rem;
    font-style: normal;
    margin-bottom: 2.4rem;
    line-height: 1.6;
}

.contacts a:link,
.contacts a:visited {
    display: block;
    color: inherit;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.contacts a:hover,
.contacts a:active {
    color: #555;
}

.footer-link a:link,
.footer-link a:visited {
    transition: all 0.3s;
    color: #767676;
    font-size: 1.6rem;
}

.footer-link a:hover,
.footer-link a:active {
    color: #555;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.btn-mob-nav {
    border: none;
    background: none;
    height: 3.2rem;
    width: 3.2rem;
    font-size: 4.8rem;
    cursor: pointer;
    display: none;
}

.hide {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.8rem 4.8rem;
    background-color: rgba(255, 255, 255, 0.97);
    opacity: 1;
    z-index: 3;
    transition: all 0.3s;
    align-items: center;
}

.no-flexbox-gap .nav__list li:not(:last-child) {
    margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
}

.no-flexbox-gap .btns .btn:not(:last-child) {
    margin-right: 2.4rem;
}

.no-flexbox-gap .delivered > *:not(:last-child) {
    margin-right: 3.2rem;
}

.no-flexbox-gap .companies-feautured > *:not(:last-child) {
    margin-right: 1.6rem;
}

.no-flexbox-gap .tags > *:not(:last-child) {
    margin-right: 0.8rem;
}

.no-flexbox-gap .meal-list > *:not(:last-child) {
    margin-bottom: 2.4rem;
}

.no-flexbox-gap .meal-list-item > *:not(:last-child) {
    margin-right: 1.6rem;
}

.no-flexbox-gap .diet-list > *:not(:last-child) {
    margin-bottom: 2.4rem;
}

.no-flexbox-gap .diet-list-item > *:not(:last-child) {
    margin-right: 0.8rem;
}

.no-flexbox-gap .pricing-plan-list > *:not(:last-child) {
    margin-bottom: 2.4rem;
}

.no-flexbox-gap .pricing-plan-list-item > *:not(:last-child) {
    margin-right: 0.4rem;
}

.no-flexbox-gap .social-links > *:not(:last-child) {
    margin-right: 1.2rem;
}

.no-flexbox-gap .footer-nav-list > *:not(:last-child) {
    margin-bottom: 2.4rem;
}

/* ***************************************** */
/* BELOW 1344px (Smaller Desktops) */
/* ***************************************** */

@media (max-width: 84em) {
    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ***************************************** */
/* BELOW 1200px (LANDSCAPE TABLETS) */
/* ***************************************** */

@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .featured-logo {
        height: 3rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .hero-img {
        width: 85%;
    }

    .step-description {
        font-size: 1.6rem;
    }

    .header {
        padding: 3.2rem;
    }

    .grid {
        gap: 4.8rem;
    }

    .form-desc {
        font-size: 1.6rem;
    }

    .feature-text {
        font-size: 1.6rem;
    }

    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .testimonial-col {
        align-self: start;
        padding: 6.4rem 4.8rem;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        padding: 6.4rem 1.6rem;
    }

    .section-pricing {
        padding: 8rem 3.2rem 3.2rem;
    }

    .addit-text {
        margin: 4.8rem 0 9.6rem;
        font-size: 1.6rem;
    }

    .sticky {
        padding: 2.8rem 4.8rem;
    }
}

/* ***************************************** */
/* BELOW 944px (TABLETS) */
/* ***************************************** */

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 4.8rem 8rem;
        text-align: center;
    }

    .btns {
        justify-content: center;
        margin-bottom: 4.8rem;
    }

    .delivered {
        justify-content: center;
        margin-bottom: 3.2rem;
    }

    .section-hero {
        padding: 4.8rem 0;
    }

    .featured-logo {
        font-size: 2.4rem;
    }

    .companies-featured {
        gap: 2.4rem;
    }

    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal-list {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .pricing-plan {
        width: 100%;
    }

    .feature-heading {
        font-size: 2rem;
    }

    .feature-icon {
        height: 2.4rem;
        width: 2.4rem;
    }

    .section-pricing {
        padding: 3rem;
    }

    .cta {
        grid-template-columns: 1.5fr 1fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .footer--grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 3.2rem;
    }

    .footer-link a {
        line-height: 1.2;
    }

    .btn-mob-nav {
        display: block;
    }

    .nav__list {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.97);
        /* align-items: center; */
        justify-content: center;
        font-size: 3.2rem;
        transition: all 0.3s ease-in;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

/* ***************************************** */
/* BELOW 713px (SMALL TABLETS) */
/* ***************************************** */

@media (max-width: 44.6em) {
    html {
        font-size: 43.75%;
    }
    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-logo {
        height: 2.4rem;
    }

    .footer--grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 6.4rem;
    }

    .footer-nav {
        grid-row: 1;
        grid-column: span 2;
    }

    .logo-col {
        grid-column: span 3;
    }

    .address-col {
        grid-column: span 3;
    }
}

/* ***************************************** */
/* BELOW 510px (PHONES) */
/* ***************************************** */

@media (max-width: 31.87em) {
    html {
        font-size: 37.5%;
    }
    .btn {
        font-size: 1rem;
    }
    .grid {
        gap: 4.8rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }

    .btn,
    .btn:link,
    .btn:visited,
    .btn--form {
        padding: 2.4rem 1.6rem;
    }

    .hero {
        padding: 0 3.2rem;
    }

    .img-col:nth-child(2) {
        grid-row: 1 / 2;
    }

    .img-col:nth-child(6) {
        grid-row: 5;
    }

    .featured-logo {
        height: 1.6rem;
    }

    .step-num {
        font-size: 6.2rem;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .addit-text {
        font-size: 1.4rem;
    }

    .img-box {
        height: 35rem;
        grid-row: 1;
    }

    .featured-in {
        padding: 3.2rem;
    }
}
